body {
    height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    justify-content:space-between;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 18px;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: space-between;
    background-color: #1F2937;
    padding: 120px 250px;
    gap: 50px;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.left-box {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.right-box {
    display: flex;
    color:#E5E7EB;
    flex: auto;
    padding: 20px;
    width: 500px;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
    width: 130px;
    padding: 5px 15px;
}

.s1-button {
    border: none;
    margin-top: 5px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 250px;
    text-align: center;
}

.s2-header {
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.s2-content {
    display: flex;
    gap: 50px;
}

.image {
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 20px;
    padding: 90px 80px;

}

.img-text {
    color: #404f61;
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
}

.section-three {
    display: flex;
    flex-direction: column;
    padding: 80px 270px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: flex-end;
}

.quote {
    color:#1F2937;
    font-size: 36px;
    font-weight: lighter;
}

.quote-attrib {
    color:#1F2937;
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
}

.section-four {
    display: flex;
    height: 200px;
    margin: 0px;
    padding: 100px 250px;
    justify-content: center;
    align-items: center;
}

.action-card {
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 5px;
}

.card-button {
    border-color:#F9FAF8;
    border-style: solid;
}

.card-text {
    color:#F9FAF8;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
}

.card-para {
    font-size: 18px;
}

.header,
.footer {
    background-color: #1F2937;
    justify-content: space-between;
    flex-shrink: 0;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 8px 250px;
}

.footer {
    display: flex;
    color: #E5E7EB;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
}